/* the overall top navigation bar */

#top-header {
    /* background: #F8EFEA; */
    padding: 6px 0 6px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

#top-header nav ul li a,
#top-header nav ul li,
#menu-toggle a {
    font-weight: 500;
    font-size: 18px;
    color: #black;
    line-height: 23px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    position: relative;
}

.fixed-position {
    position: fixed;
}


/* The minimized toggle menu */

#menu-toggle {
    display: none;
    text-align: center;
    margin-top: 8px;
    float: middle;
}

@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }
}

#menu-toggle ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
}

#menu-toggle ul.nav-open {
    display: block;
}

#menu-toggle a {
    color: #000000;
}

.slide-down {
    position: relative;
    /* background-color: #F8EFEA; */
}


/* The normal menu */

#menu-normal {
    float: right;
}

#menu-normal li {
    float: left;
    margin-right: 40px;
}

.icon,
.icon img {
    float: left;
    width: 45px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
}

@media (max-width: 768px) {
    #menu-normal,
    .icon,
    .icon img {
        display: none;
    }
}